<html>
<head>
  <title>perlpaste</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div id="header">
    <h1><a href="/">perlpaste - a pastebin in perl</a></h1>
  </div>
  <div id="wrapper">
<% content %>

    <div id="sidebar">
      <p><b>perlpaste</b> is a no-nonsense pastebin, devoid of many features that you might expect to find in other pastebins. you might call this site lazy, but the author prefers the term "minimalistic".</p>
      <p>you can paste things into the textbox, and you will be provided a link that you can distribute freely.</p>
    </div>
  </div>
</body>
</html>
