    <div id="paste">
      <form action="paste" method="post">
	<table cellpadding=5>
	  <tr>
	    <td>title</td>
	    <td><input type="text" name="title" />&nbsp;<input type="submit" value="paste" /></td>
	  </tr>
	  <tr>
	    <td>text</td>
	    <td><textarea name="paste" cols="80" rows="24"></textarea></td>
	  </tr>
	</table>
      </form>
    </div>
