    <div id="paste">
      <form action="paste" method="post" class="mb-3">
        <div class="input-group">
	  <input type="text" class="form-control" placeholder="title" name="title" id="title"/>
          <input class="btn btn-dark" type="submit" value="paste" />
        </div>
	<textarea name="paste" placeholder="paste" id="paste" class="form-control" rows="20"></textarea>
      </form>
    </div>
