body {
  font-family:sans-serif;
}
p {
  padding:10px;
}
#header {
  width:100%;
  background-color:#000;
  color:#fff;
}
#wrapper {
  width:100%;
}
#input {
  float:right;
  width:80%;
}
#sidebar {
  float:left;
  width:20%;
}
