body {
  font-family:sans-serif;
}
p {
  padding:10px;
}
#header {
  width:100%;
  background-color:#000;
  color:#fff;
}
#wrapper {
  width:100%;
}
#paste {
  float:right;
  width:80%;
}
#sidebar {
  float:left;
  width:20%;
}

#header a {
  color:#fff;
  text-decoration:none;
}

#header a:hover {
  text-decoration:underline;
}
